#appDiv{
    display:flex;
    width:100vw;
    height:200vh;
    background-color:black;
    justify-content:center;
}
#backgroundImgDiv{
  background-image: url('./shepherdLogo.jpg');
  background-repeat:no-repeat;
  width:60vw;
  height:1200px;
};